body {
  font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}

.logomobile {
  width: 45px;
  height: 45px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.logo-desk {
  width: 112px;
  height: 22px;
}

.logohea {
  width: 45%;
  height: 45px;
  margin-left: -2px;
}

.iconos-h {
  margin-top: 5px;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  width: 50%;
  height: 32px;
}

.search {
  width: 25px;
  height: 25px;
  opacity: gray;
}

.notify {
  width: 25px;
  height: 25px;
  fill: rgba(0, 0, 0, 0.54);
}

.ico-paper {
  width: 25px;
  height: 25px;
  fill: rgba(0, 0, 0, 0.54);
}

.usuario {
  width: 32px;
  height: 32px;
  border-radius: 25px;
}

nav {
  position: relative;
  height: 39px;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.options {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 20px;
}

.flecha1, .flecha2 {
  height: 21px;
  width: 21px;
}

.nav-item {
  width: auto;
  text-decoration: none;
}

.nav {
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}

.nav:hover {
  color: black;
  text-decoration: none;
}

.sticky-top {
  background-color: white;
  height: 39px;
}
.container-wrapper {
  background-color: darkgoldenrod;
}

.right-card {
  width: 100%;
  height: 334px;
  margin-right: 24px;
}

.center-wrapper {
  width: 100%;
  height: 334px;
  margin-right: 24px;
}

.center-card {
  width: 100%;
  height: 33%;
  padding: 10px;
}

.left-card {
  width: 100%;
  height: 334px;
  margin: 0;
}

.img-container {
  width: 100%;
  height: 150px;
  margin-bottom: 16px;
  overflow: hidden;
}

.card-wrapper {
  width: 100%;
  height: 109px;
}

.title-wrap {
  width: 90%;
  height: 56px;
  margin-bottom: 12px;
  margin-left: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.card-article {
  color: #919191;
  font-weight: 400;
  height: 20px;
  margin-left: 24px;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer {
  height: 20px;
  border: none;
  background-color: white;
  font-size: 14px;
}

.anchor-style {
  text-decoration: none;
  color: #333;
}

.card-links-wrap {
  height: 20px;
  margin-left: 24px;
  color: #919191;
}

.card-links {
  text-decoration: none;
  color: #919191;
  font-size: 14px;
}

.img-small {
  width: 100px;
  height: 100px;
  overflow: hidden;
  min-width: 100px;
  margin-right: 24px;
}

.title-wrap-small {
  height: 20px;
  margin-bottom: 4px;
  max-width: 235px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-article-small {
  color: #919191;
  font-weight: 400;
  width: 200px;
  max-width: 235px;
  height: 20px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 4px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-footer-small {
  height: 20px;
  border: none;
  background-color: white;
  font-size: 14px;
  margin: 0;
}

.card-links-wrap-small {
  height: 20px;
  color: #919191;
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */